extends ../layout/layout
block nav
block body
    .tit_nav
        .container.clearfix
            .pull-left 诊疗管理
    .search_box
        dl
            dd.row
                //.form-group(style="margin-bottom:0;")
                    div(style="float:left;line-height:30px;")
                        span
                        | 订单编号：
                    .col-sm-2
                        input.form-control(type="text",v-model="order_code")
                .form-group(style="margin-bottom:0;")
                    div(style="float:left;line-height:30px;")
                        span
                        | 医生：
                    .col-sm-2
                        input.form-control(type="text",v-model="doctor")
                .form-group(style="margin-bottom:0;")
                    div(style="float:left;line-height:30px;")
                        span
                        | 患者：
                    .col-sm-2
                        input.form-control(type="text",v-model="user")
                .col-sm-3
                    .input-group
                        .input-group-btn(@click="getDate(1)")
                            .btn.btn-default
                                i.icon-search
        dl
            dd.row
                .form-group(style="margin-bottom:0;")
                    div(style="float:left;line-height:30px;")
                        span
                        | 类型：
                    .col-sm-1
                        select(v-model="search.first").form-control
                            option(value='' selected) 不限
                            option(value=0) 初诊
                            option(value=1) 复诊
                .form-group(style="margin-bottom:0;")
                    div(style="float:left;line-height:30px;")
                        span
                        | 诊断方式：
                    .col-sm-1
                        select.form-control(v-model="search.type")
                            option(value='' selected) 不限
                            option(value=0) 网诊
                            option(value=1) 门诊
                .form-group(style="margin-bottom:0;")
                    div(style="float:left;line-height:30px;")
                        span
                        | 状态：
                    .col-sm-1
                        select.form-control(v-model="search.status")
                            //0:诊疗未开始[比如门诊预约未到时间] 5:诊疗中 9:追问中 10:诊疗结束
                            option(value='' selected) 不限
                            option(value=0) 诊疗未开始
                            option(value=5) 诊疗中
                            option(value=9) 追问中
                            option(value=10) 诊疗结束
        dl
            dd.row
                .form-group(style="margin-bottom:0;")
                    div(style="float:left;line-height:30px;")
                        span
                        | 诊疗日期：
                    .col-sm-2
                        input.form-control(type="date",v-model="search.created_at")
                //.form-group(style="margin-bottom:0;")
                //    div(style="float:left;line-height:30px;")
                //        span
                //        | 是否抓药：
                //    .col-sm-1
                //        select.form-control(v-model="search.is_prescription")
                //            option(value=3 selected) 不限
                //            option(value=1) 是
                //            option(value=0) 否
                .col-sm-2
                    span 共 {{total}} 条记录
                    //sss
    .user_table_box.table-responsive
        table.table.table-bordered.check_list
            thead
                tr
                    th.col-sm-1(style="width:14%") 订单编号
                    th.col-sm-1 患者
                    th.col-sm-1 就诊医师
                    th.col-sm-1 类型
                    th.col-sm-1 诊断方式
                    th.col-sm-1(style="width:12%") 就诊时间
                    th.col-sm-1 状态
                    //th.col-sm-1 是否抓药
                    th.col-sm-1 操作

            tbody
                tr(v-for="(index,cli) in data")
                    td {{cli.bespeak.order.order_sn}}
                    td {{cli.user.realname}}
                    td {{cli.doctor.name}}
                    td {{cli.type}}
                    td {{cli.first}}
                    td {{cli.created_at}}
                    td {{cli.status}}
                    //td {{cli.is_prescription}}
                    td
                        span(@click="detail(cli.id)") 查看详情
        nav
            ul.pagination
                paginate(:cur.sync="cur",:all.sync="all",v-on:btn-click="listen",v-if="cur")
    chat_detail(:id.sync="id")
block js
    script(type="text/javascript").
        import chat_detail from  './module/chat_detail.vue'
        export default{
            components: {
                chat_detail
            },
            created(){
                this.page = this.$route.params.id;

            },
            ready(){
                headNav(3);
            },
            data(){
                return{
                    id:0,
                    data:{},
                    cur: 0,
                    all: 0,
                    total: 0,
                    search:{},
                    order_code:'',
                    doctor:'',
                    user:'',
                    nextCheck:[

                    ]
                }
            },
            events: {
                update(){
                    this.getDate();
                }
            },
            watch:{
                search:{
                    handler: function (val, oldVal) {
                        this.getDate(1);
                    },
                    deep: true
                }
            },
            methods:{
                getDate(page=''){
                    if(page){
                        this.page = page;
                    }
                    this.search.user = this.user;
                    this.search.order_code = this.order_code;
                    this.search.doctor = this.doctor;
                    this.$http({
                        url:'clinic/list',
                        method:'GET',
                        params:{page:this.page,search:this.search}
                    }).then(function (res) {
                        this.$set('data',res.data.data);
                        var pagination = res.data.meta.pagination;
                        this.$set('cur', pagination.current_page);
                        this.$set('all', pagination.total_pages);
                        this.$set('total', pagination.total);
                    })
                },
                exportData(){
                    this.searchs.name = this.name;
                    this.searchs.type = this.type;
                    this.$http({
                        url: 'export/export',
                        method: 'GET',
                        params: {search: this.searchs}
                    }).then(function (res) {
                        if (res.data.status == 1) {
                            location.href = "/api/upload/download/" + res.data.name;
                        }
                    })
                },
                detail(id){
                    this.id = id;
                    $('#chat_detail').modal('show');
                },
                listen(data){
                    this.getDate(data);
                    this.$router.go({name: 'chat_admin', params: {id: data}});
                }

            }
        }