extends ../layout/layout
block nav
block body
    .tit_nav
        .container.clearfix
            .pull-left 评论管理
    .search_box
        dl
            dd.row
                .form-group(style="margin-bottom:0;")
                    div(style="float: left;line-height: 30px;margin-left: 10px;")
                        span
                        | 病名：
                    .col-sm-2
                        input.form-control(type="text",v-model="search.disease")
                .form-group(style="margin-bottom:0;")
                    div(style="float: left;line-height: 30px;margin-left: 10px;")
                        span
                        | 医生：
                    .col-sm-2
                        input.form-control(type="text",v-model="search.doctor")
                .form-group(style="margin-bottom:0;")
                    div(style="float: left;line-height: 30px;margin-left: 10px;")
                        span
                        | 患者：
                    .col-sm-2
                        input.form-control(type="text",v-model="search.name")
                        //ss sss
        dl
            dd.row
                .form-group(style="margin-bottom:0;")
                    div(style="float: left;line-height: 30px;margin-left: 10px;")
                        span
                        | 疗效：
                    .col-sm-1
                        select(v-model="search.condition", @change="getData(1)").form-control
                            option(value='' selected) 全部
                            //1:痊愈: 2:有效 3：无效 4：恶化
                            option(value=1) 痊愈
                            option(value=2) 有效
                            option(value=3) 无效
                            option(value=4) 恶化
                .form-group(style="margin-bottom:0;")
                    div(style="float: left;line-height: 30px;margin-left: 10px;")
                        span
                        | 开始时间：
                    .col-sm-2
                        input.form-control(type="date",v-model="search.start")
                .form-group(style="margin-bottom:0;")
                    div(style="float: left;line-height: 30px;margin-left: 10px;")
                        span
                        | 结束时间：
                    .col-sm-2
                        input.form-control(type="date",v-model="search.end")
                .col-sm-3
                    .input-group
                        .input-group-btn(@click="getData(1)")
                            .btn.btn-default
                                i.icon-search


    .user_table_box.table-responsive
        table.table.table-bordered
            thead
                tr
                    th.col-sm-1 病名
                    th.col-sm-1 患者
                    th.col-sm-1 医生
                    th.col-sm-1(style="width:120px") 评价时间
                    th.col-sm-1 疗效
                    th.col-sm-1 态度（星）
                    th.col-sm-3 评价详情
                    th.col-sm-1 审核状态

            tbody
                tr(v-for="val in data")
                    td {{val.disease}}
                    td {{val.user.realname}}
                    td {{val.doctor.name}}
                    td {{val.created_at}}
                    td {{val.condition}}
                    td
                        div(v-bind:class="val.manner")
                    td {{val.content}}
                    td
                        select(v-model="val.status",@change="save_type(val.id, val.status)")
                            option(value="0") 未审核
                            option(value="1") 审核通过
                            option(value="2") 审核拒绝

    paginate(:cur.sync="cur",:all.sync="all",v-on:btn-click="listen",v-if="cur",v-on:gopage="listen")
block js
    script(type="text/javascript").
        export default {
            created(){
                this.page = this.$route.params.id;
                this.getData(1);
            },
            ready(){
                headNav(3);
            },
            data(){
                return {
                    data: {},
                    cur: 0,
                    all: 0,
                    search:{
                        doctor:'',
                        name:'',
                        disease:'',
                        condition:'',
                        start:'',
                        end:''
                    }
                }
            },
            methods: {
                save_type(id,status){
                    this.$http({url: 'comment/save/'+id, method: 'put', params: {status: status}}).then(function (res) {
                        if(res.data.status == 0) {
                            layer.msg(res.data.msg);
                        }
                    });
                },
                getData(page=''){
                    if (page) {
                        this.page = page;
                    }
                    this.$http({url: 'comment/comment', method: 'GET', params: {page: this.page,search:this.search}}).then(function (res) {
                        this.$set('data', res.data.data);
                        var pagination = res.data.meta.pagination;
                        this.$set('cur', pagination.current_page);
                        this.$set('all', pagination.total_pages);
                    });
                },
                listen(data){
                    this.getData(data);
                    this.$router.go({name: 'comment_admin', params: {id: data}});
                }
            }
        }

