extends ../layout/layout
block nav

block body
    .box_css
        a.btn.btn-primary.btn-sm(onclick="itemPop2(#{i},'addtestt');")
            span 添加问题
            //ssssss
        .new_item
            form.form-horizontal(role='form')
                .form-group
                    label.col-sm-2.control-label(for='')
                        span.notice-w *
                        |问卷标题：
                    .col-sm-3
                        input.form-control(type="text",name='title',v-model="data.title")

                .form-group.sel_ti(v-for="ddd in test")
                    .float_box.clearfix
                        label.col-sm-2.control-label(v-if="ddd.type =='radio'",style="float:left;") 单选题 ：
                        label.col-sm-2.control-label(v-if="ddd.type =='checkbox'",style="float:left;") 复选题 ：
                        label.col-sm-2.control-label(v-if="ddd.type =='text'",style="float:left;") 问答题 ：
                        label.col-sm-2.control-label(v-if="ddd.type =='photo'",style="float:left;") 图片题 ：
                        .itemss(style="float:left;line-height:35px;")
                            span {{ddd.title}}
                        i.icon-bin(@click='del(ddd.id)',style="float:left;line-height:35px;color:red;")
                        i.icon-pencil(@click="saveTest(ddd)",style="margin-left:10px;float:left;line-height:35px;")
                    template(v-if="ddd.type == 'checkbox' || ddd.type =='radio'",track-by="$index")
                        p(v-for="answer in ddd.option",style="padding-left:255px").result
                            span  {{answer.val}}
                    template(v-if="ddd.type == 'photo'")
                        .f_box.clearfix(style="padding-left:255px;")
                            p(v-for="val in ddd.option",style="float:left;margin-right:10px;").result
                                img(v-bind:src="val",style="width:160px")
    addtest(:ddd.sync='ddd')
    pop-addtest(:id.sync='id')
block js
    script(type="text/javascript").
        import addtest from "./module/addtest.vue"
        export default {
            components: {
                addtest
            },
            ready(){
                headNav(4);
            },
            data(){
                return {
                    data:{},
                    id:0,
                    sid:0,
                    ddd:{},
                    test:[],
                }
            },
            events:{
                questionsave(){
                    this.getTest(this.id);
                }
            },
            created(){
                this.id = this.$route.params.id;
                this.getTest(this.id);
            },
            methods: {
                //ss
                saveTest(val){
                    var _this = this;
                    this.ddd = val;
                    $('#addtest').modal('show');
                    setTimeout(function(){
                        $(".clone").delegate('.icon-minus', 'click', function () {
                            $(this).parents('.form-group').remove()
                        });

                        $(".clone").delegate('.icon-plus', 'click', function () {
                            $(this).parents('.form-group').clone(false).appendTo($(this).parents('.clone'))
                        });
                    },1000);
                    //ssss
                },

                del(id){
                    var vue = this;
                    layer.confirm('您确定要删除吗？', {
                        btn: ['确定', '取消']
                    }, function () {
                        vue.$http.delete('exam/' + id).then(function (res) {
                            layer.msg(res.data.msg);
                            if (res.data.status == 1) {
                                vue.$dispatch('questionsave');
                            }
                        });
                    }, function () {
                    });

                },
                getTest(id){
                    this.$http.get('exam/'+id).then(function (res) {
                        this.$set('data',res.data.data);
                        this.$set('id',res.data.data.id);
                        this.$set('test',res.data.data.options);
                    });
                },
            },
        }