extends ../layout/layout
block nav
    .tit_nav
        .container.clearfix
            .pull-left 系统问诊单
block body
    .box_css
        //a.btn.btn-primary.btn-sm(onclick="itemPop(#{i},'addtest')")
        //    span 添加问题
        .new_item
            .user_table_box.table-responsive
                table.table
                    thead
                        tr
                            th 序号
                            th 名称
                            th 时间
                            th 操作
                    tbody
                        tr(v-for="dd in data")
                            td {{$index +1}}
                            td {{dd.title}}
                            td {{dd.created_at}}
                            td
                                span(@click="edit(dd.id)") 编辑
block js
    script(type="text/javascript").
        export default {
            ready(){
                headNav(4);
            },
            created(){
                this.getData();
            },
            data(){
                return {
                    data:{},
                }
            },
            methods: {
                edit(id){
                    this.$router.go({name:'exam_save',params:{id:id}});
                },
                getData(){
                    this.$http.get('exam').then(function (res) {
                        this.$set('data',res.data.data);
                    });
                },
            }
        }