extends ../layout/layout
block nav
    .tit_nav
        .container
            .pull-left 患者管理 > 患者详情
                label

block body
    .new_item
        button(@click="save()",class="btn btn-primary")  修改
        //sssss
        form.form-horizontal(role='form')
            .form-group
                label.col-sm-1.control-label(for='') 头像：
                .col-sm-2
                    .sel_box
                        .img-face-t(v-bind:style="{backgroundImage:'url(' +user.headimgurl+')' }")
                .col-sm-3
                    p 患者昵称： {{user.nickname}}
                    p 手机号： {{user.mobile}}
                    p 性别： {{user.sex ? user.sex : '暂无'}}
                    p 身份证号： {{user.pincode ? user.pincode : '暂无'}}
                    p 国籍： {{user.county ? user.county : '暂无'}}
                .col-sm-3
                    p 真实姓名： {{user.realname}}
                    p 年龄： {{user.age ? user.age : '暂无'}}
                    p 身高： {{user.height ? user.height : '暂无'}}
                    p 体重： {{user.weight ? user.weight : '暂无'}}
                    p 常居住地： {{user.province ? user.province : '暂无'}}{{user.city}}{{user.area}}
        ul.nav.nav-tabs
            li.active
                a(href="#tab4" role="tab" data-toggle="tab") 关联人
            li
                a(href="#tab5" role="tab" data-toggle="tab") 就诊记录
            //li
                a(href="#tab2" role="tab" data-toggle="tab") 订单记录
        .tab-content
            .tab-pane.fade.in.active#tab4
                form.form-horizontal.user_table_box.table-responsive(role='form')
                    table.table.table-bordered.check_lis
                        thead
                            tr
                                th.col-sm-1 关联人
                                th.col-sm-1 是否为VIP/家庭

                        tbody
                            tr(v-for="val in user.users")
                                td {{val.realname}}
                                td {{val.pivot.type ==1 ? '会员卡用户' : '普通家庭成员'}}
            .tab-pane.fade#tab5
                form.form-horizontal.user_table_box.table-responsive(role='form')
                    table.table.table-bordered.check_list
                        thead
                            tr
                                th.col-sm-1 下单人
                                th.col-sm-1 医师
                                th.col-sm-1 就诊方式
                                th.col-sm-1 类型
                                th.col-sm-1(style="width:12%") 就诊时间
                                th.col-sm-1 诊断（处方名称）
                                th.col-sm-1 处方
                                th.col-sm-1 剂量
                                th.col-sm-1 操作

                        tbody
                            tr(v-for="val in user.clinic")
                                td {{val.userName}}
                                td {{val.doctorsName}}
                                td {{val.recipe_status ==1 ? '门诊' : '网诊'}}
                                td {{val.is_first == 1 ? '复诊' : '初诊'}}
                                td {{val.created_at}}
                                template(v-if="val.has_one_recipe")
                                    td {{val.has_one_recipe.disease}}
                                    td
                                        span(v-for="r in val.has_one_recipe.recipe") {{r.name}} {{r.dosage}} {{r.other}}
                                    td {{val.has_one_recipe.recipe_head.sum}}
                                template(v-else)
                                    td
                                    td
                                    td
                                td
                                    span(@click="clinic(val.id)") 详情

    clinic_detail(:clinic_id.sync="clinic_id")
    save_appuser(:item.sync="item")
block js
    script(type="text/javascript").
        import clinic_detail from "./module/clinic_detail.vue"
        import save_appuser from "./module/save_appuser.vue"
        export default {
            components: {
                clinic_detail,
                save_appuser
            },
            created(){
                this.user_id = this.$route.params.id;
            },
            data(){
                return {
                    user_id:0,
                    user:{},
                    item:{},
                    clinic_id:0
                }
            },
            events: {
                refreshList(){
                    this.getUserDetail(this.user_id);
                }
            },
            methods: {
                save(){
                    this.$set('item', this.user);
                    this.$set('item.save_type', 'family');
                    $("#save_appuser").modal("show");
                },
                clinic(clinic_id){
                    this.$set('clinic_id',clinic_id);
                    $("#clinic_detail").modal("show");
                },
                getUserDetail(id){
                    if(id>0){
                        this.$http.get('appuser/detail/' + id + '/family').then(function (res) {
                            this.$set('user',res.data.data);
                        });
                    }
                }
            },
            watch: {
                user_id(newValue){
                    this.getUserDetail(newValue);
                }
            }

        }