extends ../layout/layout

block nav
    .tit_nav
        .container.clearfix
            .pull-left 首页1
block body

block js
    script(type="text/javascript").
        export default {
            created(){

            },
            ready(){
                headNav(0);
            },
            events:{
                update(){

                },
                refreshList(){

                }
            },
            date(){
                return{

                }
            },
            methods:{

            },
            computed:{

            }
        }