extends ../layout/layout
block nav
block body
    .tit_nav
        .container.clearfix
            .pull-left 中药剂型管理

    .search_box
        dl
            dt 筛选
            dd.row
                .col-sm-3
                    .input-group
                        input.form-control.auto_inp(type="search" v-model="name" placeholder="输入药品名称搜索")
                        .input-group-btn(v-on:click="getData(1)")
                            .btn.btn-default
                                i.icon-search
                .col-sm-2
                    span 共 {{total}} 条记录



    .user_table_box.table-responsive
        table.table.table-bordered
            thead
                tr
                    th 序号
                    th 名称
                    th 单位
                    th 价格（元）
                    th 类型
                    //th 操作
            tbody
                tr(v-for="val in data")
                    td {{$index+1}}
                    td {{val.name}}
                    td {{val.unit}}
                    td {{val.amount}}
                    td {{val.type}}
                    //td
                    //    span(@click="save(val)") 修改
                    //    span(@click="deletes(val.id)",style="color:red;") 删除

    paginate(:cur.sync="cur",:all.sync="all",v-on:btn-click="listen",v-if="cur",v-on:gopage="listen")

        medicinal_type(:val.sync='val')
block js
    script(type="text/javascript").
        import medicinal_type from  './module/medicinal_type.vue'
        export default {
            components:{
                medicinal_type
            },
            data(){ //页面用到的数据
                return {
                    data:{},
                    val:{},
                    name:'',
                    cur:'',
                    total:'',
                    all:'',
                };
            },
            created(){
                headNav(4);
                this.getData();
            },
            events: {
                userupdate(){
                    this.getData();
                }
            },
            methods:{
                getData(page=''){
                    if (page) {
                        this.page = page;
                    }
                    this.$http({url:'medicine/index',method:'GET',params:{page: this.page,name:this.name}}).then(function(res){
                        this.$set('data', res.data.data);
                        var pagination = res.data.meta.pagination;
                        this.$set('cur', pagination.current_page);
                        this.$set('all', pagination.total_pages);
                        this.$set('total', pagination.total);
                    });
                },
                deletes(id){
                    this.$http({url: 'medicine/del/'+id, method: 'delete'}).then(function (res) {
                        layer.msg(res.data.msg);
                        if(res.data.status){
                            this.getData();
                        }
                    });
                },
                save(val){
                    this.$set('val',val);
                    $("#medicinal_type").modal("show");
                },
                listen(data) {
                    this.getData(data);
                    this.$router.go({name: 'medicinal_type', params: {id: data}});
                },
            }
        }
