extends ../layout/layout
block nav
    .tit_nav
        .container.clearfix
            .pull-left 添加优惠码

block body
    .new_item
        form.form-horizontal(role='form')
            .form-group
                label.col-sm-1.control-label(for='')
                    span 优惠码类型：
                .col-sm-5
                    input.form-control(type="text",value="字母+数字" readonly)

            .form-group
                label.col-sm-1.control-label(for='')
                    span 优惠码长度：
                .col-sm-5
                    input.form-control(type="text",value="12位" readonly)
            .form-group
                label.col-sm-1.control-label(for='')
                    span 优惠码数量：
                .col-sm-5
                    input.form-control(name="total" type="text", v-model="code.total")
            .form-group
                label.col-sm-1.control-label(for='')
                    span 优惠金额：
                .col-sm-5
                    input.form-control(name="discount" type="text", v-model="code.discount")
            .form-group
                label.col-sm-1.control-label(for='')
                    span 活动链接：
                .col-sm-5
                    input.form-control(name="url" type="text", v-model="code.url")
            .form-group
                label.col-sm-1.control-label(for='')
                    span 开始时间：
                .col-sm-5
                    input.form-control(name="url" type="text",v-model="code.start_time")

            .form-group
                label.col-sm-1.control-label(for='')
                    span 截止时间：
                .col-sm-5
                    input.form-control(name="url" type="text", v-model="code.end_time")
            .form-group
                label.col-sm-1.control-label(for='')
                    span 目标用户：
                .col-sm-5
                    input.form-control.file(name="file" type="file")
            .form-group.btn_box
                button.btn.btn-lg.btn-default(type='button',@click="goback()") 取消
                    button#subUpload.btn.btn-lg.btn-primary(type='button',@click="saveGood()") 添加
block js
    script(type="text/javascript").
        import calendar from "../../js/calendar.vue"
        export default {
            created(){
                this.id = this.$route.params.id;
            },
            ready(){
                headNav(4);
                this.daoru();

            },
            data(){
                return {
                    id:0,
                    code:{},
                    total:'',
                    discount:'',
                    url:'',
                    calendar: {
                        show: false,
                        x: 0,
                        y: 0,
                        picker: "",
                        type: "date",
                        value: "",
                        begin: "",
                        end: "",
                        //weeks: [],
                        months: [],
                        range: false,
                        items: {
                            // 日期时间模式、、
                            picker3: {
                                type: "datetime",
                                value: "",
                                sep: "-",
                            }, picker2: {
                                type: "datetime",
                                value: "",
                                sep: "-",
                            },
                        }
                    }
                }
            },
            methods: {
                daoru(){
                    var self = this;
                    layui.use('upload', function () {
                        layui.upload({
                            url: 'promo/addfile',
                            title: '导入手机号',
                            elem: '.file', //指定原始元素，默认直接查找class="layui-upload-file"
                            method: 'post',
                            type: 'file',
                            success: function (res) {
                                layer.msg('文件上传成功');
                            }
                        });
                    });
                },
                detail(id){
                    if (id > 0) {
                        this.$http.get('promo/detail/' + id).then(function (res) {
                            this.$set('code', res.data.data);
                        });
                    }
                },
                goback(){
                    this.$router.go("/promocode_list");
                },
            },
            watch: {
                id(newValue){
                    this.detail(newValue);
                }
            }

        }