extends ../layout/layout
block nav
block body
    .tit_nav
        .container.clearfix
            .pull-left 医师方案处理
    .search_box#searchList
        dl
            dt 查询：
            dd.row
                .col-sm-2
                    select.form-control(v-model="goods_type",v-on:change="getList()")
                        option(value=0 selected) 请选择购买类型
                        option(value=1) 成人男
                        option(value=2) 成人女
                        option(value=3) 儿童
                .col-sm-2
                    select.form-control(v-model="done",v-on:change="getList()")
                        option(selected value=2) 请选择完成状态
                        option(value=1) 未完成
                        option(value=2) 已完成
                .col-sm-2
                    select.form-control(v-model="status",v-on:change="getList()")
                        option(value=0 selected) 请选择处理状态
                        option(value=1) 未处理
                        option(value=2) 已处理
                        option(value=3) 已发送
        dl
            dt 查询：
            dd.row
                .col-sm-2
                    .input-group
                        input.form-control.auto_inp(type="search" v-model="realname" placeholder="请输入就诊人姓名")
                        .input-group-btn(v-on:click="getList()")
                            .btn.btn-default
                                i.icon-search
                .col-sm-2
                    .input-group
                        input.form-control.auto_inp(type="search" v-model="number" placeholder="请输入订单编号")
                        .input-group-btn(v-on:click="getList()")
                            .btn.btn-default
                                i.icon-search

                .col-sm-2
                    .input-group
                        input.form-control.auto_inp(type="search" v-model="doctor" placeholder="请输入处理人姓名")
                        .input-group-btn(v-on:click="getList()")
                            .btn.btn-default
                                i.icon-search

                .col-sm-2
                    span 共 {{total}} 条记录

    .user_table_box.table-responsive
        table.table.table-bordered.check_list
            thead
                tr
                    th.col-sm-1 序号
                    th.col-sm-1 就诊人
                    th.col-sm-1 购买类型
                    th.col-sm-1 敷贴类型
                    th.col-sm-1 穴位
                    th.col-sm-1 处理状态
                    th.col-sm-1 备注
                    th.col-sm-1 处理人
                    th.col-sm-1 操作

            tbody
                tr(v-for="(index,list) in lists")
                    td {{index+1}}
                    td {{list.name}}
                    td {{list.goods_type}}
                    td
                        select(v-model="list.type",v-on:change="setChange(list.id,list.type,list.status)")
                            option(value=0) 未选择
                            option(value=1) 温和型
                            option(value=2) 增强型
                    td {{list.point_names}}
                    td {{list.status_show}}
                    td {{list.note}}
                    td {{list.doctor_id}}
                    td
                        span(@click="detail(list.id)") 查看
                        span(v-if="list.status==2",@click="point(list.id)") 方案
                        span.grey(v-else) 方案
                        span(v-if="list.status==2",@click="note(list.id)") 备注
                        span.grey(v-else) 备注
                        span(v-if="list.status == 2 && list.type != 0 && list.point_names != ''",@click="send(list.id,list.status)") 发送
                        span.grey(v-if="list.type == 0 || list.point_names == '' || list.status !=2 ") 发送
        nav
            ul.pagination
                paginate(:cur.sync="cur",:all.sync="all",v-on:btn-click="listen",v-if="cur",v-on:gopage="listen")
    pop-point(:id.sync="id")
    pop-Addnote(:id.sync="id")
block js
    script(type="text/javascript").
        export default{
            ready(){
                headNav(3);
            },
            created(){
                //ssssss
                this.page = this.$route.params.id;
                this.getList();//22
            },
            data(){
                return{
                    lists:{},
                    cur:0,
                    all:0,
                    total:0,
                    id:0,
                    goods_type:0,
                    doctor:'',
                    status:0,
                    done:2,
                    realname:'',
                    number:'',
                    search:{}
                }
            },
            events: {
                refreshln(){
                    this.getList(this.cur);
                }
            },
            methods:{
                setChange(id,type,status) {
                    if(status ==3){
                        layer.msg('已发送 不可修改');
                        return;
                    }
                    var obj = {};
                    obj.system = 'type';
                    obj.param = {type:type};
                    this.$http.post('law/update/'+id, obj).then(function (res) {
                        layer.msg(res.data.msg);
                    })
                },
                send(id,status){
                    if(status ==3) {
                        layer.msg('已发送');
                        return;
                    }
                    var obj = {};
                    obj.system = 'send';
                    obj.param = {status: 3};
                    this.$http.post('law/update/'+id ,obj).then(function (res) {
                        layer.msg(res.data.msg);
                        if(res.data.status ==200){
                            this.$dispatch('refreshln');
                        }
                    })
                },
                point(id){
                    this.$http.get('law/forbid/' + id).then(function (res) {
                        if (res.data.status) {
                            this.$set('id', id);
                            $("#point").modal("show");
                        }else{
                            layer.msg(res.data.msg);
                        }
                    });

                },
                note(id){
                    this.$http.get('law/forbid/' + id).then(function (res) {
                        if (res.data.status) {
                            this.$set('id', id);
                            $("#addnote").modal("show");
                        } else {
                            layer.msg(res.data.msg);
                        }
                    });

                },
                getList(page=''){
                    if (page) {
                        this.page = page;
                    }
                    this.search.goods_type = this.goods_type;
                    this.search.doctor = this.doctor;
                    this.search.status = this.status;
                    this.search.realname = this.realname;
                    this.search.number = this.number;
                    this.search.done = this.done;
                    this.search.doctor = this.doctor;
                    this.$http({url:'law/index',method:'GET',params:{page:this.page,search:this.search}}).then(function (res) {
                        this.$set('lists',res.data.data);
                        var pagination = res.data.meta.pagination;
                        this.$set('cur', pagination.current_page);
                        this.$set('all', pagination.total_pages);
                        this.$set('total', pagination.total);
                    })
                },
                detail(id){
                    this.$http.get('law/deal/'+id).then(function (res){
                       if(!res.data.status){
                           layer.msg(res.data.msg);
                       }
                    });
                    this.$router.go({name: 'proposed_detail', params: {id: id}});
                },
                listen(data){
                    this.getList(data);
                    this.$router.go({name: 'proposed_law', params: {id: data}});
                },

            }
        }