extends ../layout/layout
block nav
    .tit_nav
        .container.clearfix
            .pull-left 添加问题

block body
    .new_item
        form.form-horizontal(role='form')
            .form-group
                label.col-sm-1.control-label(for='')
                    span 问题类型：
                .col-sm-1
                    select.form-control(v-model='type')
                        option(value='0') 单选
                        option(value='1') 多选
                        option(value='2') 填空
                label.col-sm-1.control-label(for='')
                    span 是否必填：
                .col-sm-1
                    select.form-control(v-model='necessary')
                        option(value='0') 否
                        option(value='1') 是
                label.col-sm-1.control-label(v-if='type < 2')
                    span 是否有其他：
                .col-sm-1(v-if='type < 2')
                    select.form-control(v-model='other')
                        option(value='0') 否
                        option(value='1') 是
            .form-group
                label.col-sm-1.control-label(for='') 问题名称：
                .col-sm-4
                    input.form-control(type="text" name='title' placeholder="请输入问题名称" v-model='title')
            .form-group(v-if='type==0' v-for="(i,p) in perChoose")
                .close(v-on:click="closeper(i)",style='color:red') ×
                label.col-sm-1.control-label(for='') 问题答案{{i+1}}：
                .col-sm-4
                    input.form-control(type='text' name="answer" placeholder="请输入问题答案" v-model="p.answer")
                .col-sm-1(@click='addQuestion()') +
            .form-group(v-if='type==1' v-for="(index,m) in moreChoose")
                .close(v-on:click="closemore(index)",style='color:red') ×
                label.col-sm-1.control-label(for='') 问题答案{{index+1}}：
                .col-sm-4
                    input.form-control(type='text' name="answer" placeholder="请输入问题答案" v-model="m.answer")
                .col-sm-1(@click='addQuestion()',style='color:green') +
            .form-group.btn_box
                button.btn.btn-default(type='button' @click="goback()") 取消
                button.btn.btn-primary(type='button' @click="save()") 添加
block js
    script(type="text/javascript").
        export default {
            data(){
                return {
                    title: '',
                    type: 0,
                    necessary: 0,
                    other: 0,
                    perChoose: [{'answer':''}],
                    moreChoose: [{'answer':''}],
                    fill: ''
                }
            },
            methods: {
                goback(){
                    this.$router.go('/lnquiry_list');
                },
                save(){
                    if (!this.title) {
                        layer.msg('问题名称不能为空');
                    }
                    var obj = {};
                    obj.title = this.title;
                    obj.type = this.type;
                    obj.necessary = this.necessary;
                    obj.other = this.other;
                    if(this.type==0){
                        obj.content = this.perChoose;
                    }else if(this.type==1){
                        obj.content = this.moreChoose;
                    }
                    var _this = this;
                    _this.$http.post('question/store/', obj).then(function (res){
                        if(res.data.status>0){
                            layer.msg('添加成功');
                            _this.$router.go('/question_list');
                        }else{
                            layer.msg(res.data.msg);
                        }
                    })
                },
                addQuestion(){
                    if(this.type==0){
                        this.perChoose.push({'answer':''});
                    }else if(this.type==1){
                        this.moreChoose.push({'answer':''});
                    }
                },
                closeper(key){
                    this.perChoose.splice(key, 1);
                },
                closemore(key){
                    this.moreChoose.splice(key, 1);
                }
            }
        }