extends ../layout/layout
block nav
    .tit_nav
        .container
            .pull-left 轮播图
            .pull-right
                a.btn.btn-primary.btn-sm(onclick="itemPop(#{i},'slider_add')")
                    i.icon-plus
                    span 添加轮播
block body

    .user_table_box.table-responsive
        table.table.table-bordered
            thead
                tr
                    th.col-sm-1 名称
                    th.col-sm-1 图片
                    th.col-sm-2(style="width:50%") 简介
                    th.col-sm-2 跳转地址
                    th.col-sm-1 是否展示
                    th.col-sm-1 操作功能
            tbody
                tr(v-for="val in data")
                    td {{val.title}}
                    td
                        img(v-bind:src="val.image",style="width:128px;height:60px")
                    td {{val.desc}}
                    td {{val.url}}
                    td
                        select.form-control(v-model="val.status",v-on:change="save(val)")
                            option(value=1) 展示
                            option(value=0) 不展示
                    td
                        span(@click="detail(val)") 编辑
                        span(@click="_delete(val.id)",style="color:red;") 删除
        slider_add
        slider_detail(:val.sync="val")

block js
    script(type="text/javascript").
        import slider_add from "./module/slider_add.vue"
        import slider_detail from "./module/slider_detail.vue"
        export default{
            components: {
                slider_add,
                slider_detail
            },
            data(){
                return {
                    data: {},
                    val:{}
                };
            },
            created(){
                this.getData();
            },
            ready(){
                headNav(4);
            },
            events: {
                refreshList(){
                    this.getData();
                }
            },
            methods: {
                getData(){
                    this.$http({url: 'slider/index', method: 'GET'}).then(function (res) {
                        this.$set('data', res.data.data);
                    });
                },
                _delete(id){
                    this.$http({url: 'slider/del/'+id, method: 'delete'}).then(function (res) {
                        if(res.data.status){
                            layer.msg('操作成功');
                            this.getData();
                        }
                    });
                },
                detail(val){
                    this.$set('val', val);
                    $("#slider_detail").modal("show");
                },
                save(val){
                    this.$http.put('slider/update', val).then(function (res) {
                        if (res.data.status) {
                            layer.msg('操作成功');
                            this.getData();
                        }
                    });
                }
            }
        }
