extends ../layout/layout
block nav
    .tit_nav
        .container
            .pull-left 用户管理 > 用户详情
                label

block body
    .new_item
        //button(@click="save()",class="btn btn-primary")  修改

        form.form-horizontal(role='form')
            .form-group
                label.col-sm-1.control-label(for='') 头像：
                .col-sm-2
                    .sel_box
                        .img-face-t(v-bind:style="{backgroundImage:'url(' +user.headimgurl+')' }")
                .col-sm-3
                    p 患者昵称： {{user.nickname}}
                    p 手机号： {{user.mobile}}
                    p 性别： {{user.sex}}
                    p 身份证号： {{user.pincode}}
                    p 国籍： {{user.county}}
                .col-sm-3
                    p 真实姓名： {{user.realname}}
                    p 年龄： {{user.age}}
                    p 身高： {{user.height}}
                    p 体重： {{user.weight}}
                    p 常居住地： {{user.province ? user.province : '暂无'}}{{user.city}}{{user.area}}
        ul.nav.nav-tabs
            li.active
                a(href="#tab5" role="tab" data-toggle="tab") 就诊记录
        .tab-content
            .tab-pane.fade.in.active#tab5
                form.form-horizontal.user_table_box.table-responsive(role='form')
                    table.table.table-bordered.check_list
                        thead
                            tr
                                th.col-sm-1 医师
                                th.col-sm-1 就诊方式
                                th.col-sm-1 类型
                                th.col-sm-1(style="width:12%") 创建时间
                                th.col-sm-1 诊断（处方名称）
                                th.col-sm-1 处方
                                th.col-sm-1 剂量
                                //th.col-sm-1 操作

                        tbody
                            tr(v-for="(index,c) in clinics")
                                td {{c.doctor.name}}
                                td(v-if="c.type == 0") 网诊
                                td(v-else) 门诊
                                td(v-if="c.first == 0") 复诊
                                td(v-else) 初诊
                                td {{c.created_at}}
                                td {{c.disease}}
                                td {{c.prescription.recipe}}
                                td {{c.prescription.recipe_head}}
                                //td
                                    //span(@click="clinic(val.id)") 详情

    //clinic_detail(:clinic_id.sync="clinic_id")
    //save_appuser(:item.sync="item")
block js
    script(type="text/javascript").
        import clinic_detail from "./module/clinic_detail.vue"
        import save_appuser from "./module/save_appuser.vue"

        export default {
            components: {
                clinic_detail,
                save_appuser
            },
            created(){
                this.user_id = this.$route.params.id;
            },
            ready(){
                headNav(0);
            },
            data(){
                return {
                    user_id:0,
                    user:{},
                    item:{},
                    orders:{},
                    clinics:{},
                    clinic_id:0,
                }
            },
            events: {
                refreshList(){
                    this.getUserDetail(this.user_id);
                }
            },
            methods: {
                save(){
                    this.$set('item', this.user);
                    this.$set('item.save_type', 'user');
                    $("#save_appuser").modal("show");
                },
                clinic(clinic_id){
                    this.$set('clinic_id',clinic_id);
                    $("#clinic_detail").modal("show");
                },
                getUserDetail(id){
                    if(id>0){
                        this.$http.get('appuser/detail/' + id).then(function (res) {
                            this.$set('user',res.data.data);
                            this.$set('clinics',res.data.data.clinics);
                            this.$set('orders',res.data.data.orders);
                        });
                    }
                }
            },
            watch: {
                user_id(newValue){
                    this.getUserDetail(newValue);
                }
            }

        }