extends ../layout/layout
block nav
    .tit_nav
        .container.clearfix
            .pull-left 登录日志
            .pull-right
                a.btn.btn-primary.btn-sm(onclick="itemPop(#{i},'password')")
                    i.icon-lock
                    span 修改密码
block body
    table.table.table-bordered
        thead
            tr
                th IP地址
                th 登录地址
                th 访问时间
        tbody
                tr(v-for="log in logs")
                    td {{log.ip}}
                    td {{log.address?log.address:'未知'}}
                    td {{log.created_at}}
    nav
        ul.pagination
            paginate(:cur.sync="cur",:all.sync="all",v-on:btn-click="listen",v-if="cur")
    pop-password
block js
    script(type="text/javascript").
        export default {
            created(){
                this.getLogs(1);
            },
            events: {
                refreshList(){
                    this.getLogs(this.cur);
                }
            },
            data(){
                return {
                    logs: [],
                    cur: 0,
                    all: 0,
                    msg: ''
                };
            },
            methods: {
                getLogs(page){
                    this.$http({url: 'getLogs', method: 'GET', params: {page: page}}).then(function (res) {
                        this.$set('logs', res.data.data);
                        var pagination = res.data.meta.pagination;
                        this.$set('cur', pagination.current_page);
                        this.$set('all', pagination.total_pages);
                    });
                },
                listen(data) {
                    this.getLogs(data);
                }
            }
        }
