/node_modules
node_modules/*
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
frontend/node_modules/
.env
.DS_Store
/xs/*
public/static/avatar
public/static/180129031035.jpg
public/static/image
storage/imports
deploy/config/cert
public/*.txt
