template
    .modal.fade#addsection
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×

                .modal-body
                    form.form-horizontal(role='form')
                        .form-group
                            .col-sm-2(v-for="val in allSection" ,@click="checkAttr(val.id)")
                                input(class="checked_{{val.id}}",type="checkbox" name="checkboxName")
                                span(class="checked_f{{val.id}}") {{val.name}}


                .modal-footer
                     button.btn.btn-primary(type='button',@click="store()") 保存
                     button.btn.btn-default(type='button', data-dismiss='modal') 取消


script(type='text/javascript').
    export default {
        props:['id'],
        data(){
            return {
                data:{},
                allSection:{},
                name:'',
                sid:0,
                sectionArr : []
            };
        },
        ready(){
            this.getDisease();
        },
        methods:{
            getDisease() {
                this.$http({url: 'section/index',method:'GET',params:{noPage:true}}).then(function (res) {
                    this.allSection = res.data.sections;
                });
            },
            checkAttr(id) {
                var _this = this;
                var index = $.inArray(id, _this.sectionArr);
                if (index == -1) {
                    $(".checked" + id).prop("checked", true);
                    this.sectionArr.push(id);
                } else {
                    $(".checked" + id).prop("checked", false);
                    this.sectionArr.splice(index, 1);
                }
                console.log(this.sectionArr);
            },
            store() {
                this.$http({url: 'doctor/addisease/' + this.id, method: 'PUT', params: {data: this.sectionArr, type:'section'}}).then(function (res) {
                    if (res.data.status == 1) {
                            $("#addsection").modal("hide");
                            this.sectionArr = [];
                            this.$dispatch("refreshList");
                        } else {
                            layer.msg(res.data.msg);
                    }
                });
            }
        }
    }