template
    .modal.fade#exportcheck
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×

                .modal-body
                    form.form-horizontal(role='form')
                        .form-group
                            .col-sm-6
                                span 输入擅长疾病，并用中文逗号分隔
                                input(v-model="diseaseStr" type="text" name="checkboxName")



                .modal-footer
                     button.btn.btn-primary(type='button',@click="store()") 保存
                     button.btn.btn-default(type='button', data-dismiss='modal') 取消


script(type='text/javascript').
    export default {
        props:['id'],
        data(){
            return {
                data:{},
                allDisease:{},
                name:'',
                sid:0,
                diseaseArr : [],
                diseaseStr : '',
            };
        },
        ready(){
            this.getDisease();
        },
        methods:{
            getDisease() {
                this.$http({url: 'disease/index',method:'GET',params:{noPage:true}}).then(function (res) {
                    this.allDisease = res.data.diseases;
                });
            },
            checkAttr(id) {
                var _this = this;
                var index = $.inArray(id, _this.diseaseArr);
                if (index == -1) {
                    $(".checked" + id).prop("checked", true);
                    this.diseaseArr.push(id);
                } else {
                    $(".checked" + id).prop("checked", false);
                    this.diseaseArr.splice(index, 1);
                }
                console.log(this.diseaseArr);
            },
            store() {
                this.$http({url: 'doctor/addisease2/' + this.id, method: 'PUT', params: {data: this.diseaseStr, type:'disease'}}).then(function (res) {
                    if (res.data.status == 1) {
                            $("#exportcheck").modal("hide");
                            this.diseaseArr = [];
                            this.$dispatch("refreshList");
                        } else {
                            layer.msg(res.data.msg);
                    }
                });
            }
        }
    }