//物流状态
template
    .modal.fade#addpromo
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title 添加优惠券
                .modal-body
                    form.form-horizontal(role='form')
                        .form-group
                            label.col-sm-1.control-label(for='')
                                span 优惠码类型：
                            .col-sm-5
                                input.form-control(type="text",value="字母+数字" readonly)

                        .form-group
                            label.col-sm-1.control-label(for='')
                                span 优惠码长度：
                            .col-sm-5
                                input.form-control(name="length" type="text",value="6位" v-model="length", readonly)
                        .form-group
                            label.col-sm-1.control-label(for='')
                                span 优惠码数量：
                            .col-sm-5
                                input.form-control(name="total" type="text",placeholder="请输入优惠码数量" v-model="total")
                        .form-group
                            label.col-sm-1.control-label(for='')
                                span 优惠金额：
                            .col-sm-5
                                input.form-control(name="discount" type="text",placeholder="请输入优惠金额" v-model="discount")
                        .form-group
                            label.col-sm-1.control-label(for='')
                                span 开始时间：
                            .col-sm-5
                                //input.form-control.time_date(name="goods_start" type="date",placeholder="请输入邀请开始时间"  v-model="good.goods_start")
                                input.form-control.time_date(type="text",readonly,name="goods_start",@click.stop="open($event,'picker2')",v-model="calendar.items.picker2.value",placeholder="请输入邀请开始时间")
                        .form-group
                            label.col-sm-1.control-label(for='')
                                span 截止时间：
                            .col-sm-5
                                //input.form-control.time_date(name="goods_end" type="date",placeholder="请输入邀请截止时间" v-model="good.goods_end")
                                input.form-control.time_date(type="text",readonly,name="goods_end",@click.stop="open($event,'picker3')",v-model="calendar.items.picker3.value",placeholder="请输入邀请截止时间")
                                calendar(
                                :show.sync="calendar.show",
                                :type="calendar.type",
                                :value.sync="calendar.value",
                                :x="calendar.x",
                                :y="calendar.y",
                                :begin.sync="calendar.begin",
                                :end.sync="calendar.end",
                                :range.sync="calendar.range",
                                :months="calendar.months")
                        .form-group.btn_box
                            button.btn.btn-lg.btn-default(type='button',@click="goback()") 取消
                                button#subUpload.btn.btn-lg.btn-primary(type='button',@click="saveGood()") 添加
block js
    script(type="text/javascript").
        import calendar from "../../js/calendar.vue"
        export default {
            components: {
                calendar
            },
            created(){

            },
            ready(){
                headNav(2);

            },
            data(){
                return {
                    calendar: {
                        show: false,
                        x: 0,
                        y: 0,
                        picker: "",
                        type: "date",
                        value: "",
                        begin: "",
                        end: "",
                        //weeks: [],
                        months: [],
                        range: false,
                        items: {
                            // 日期时间模式、、
                            picker3: {
                                type: "datetime",
                                value: "",
                                sep: "-",
                            }, picker2: {
                                type: "datetime",
                                value: "",
                                sep: "-",
                            },
                        }
                    }
                }
            },
            methods: {
                uploadLogo(){
                    var self = this;
                    layui.use('upload', function () {
                        layui.upload({
                            url: '/api/upload/add'
                            , elem: '#logo' //指定原始元素，默认直接查找class="layui-upload-file"
                            , method: 'post'
                            , success: function (res) {
                                //console.log(res.msg);
                                layer.msg('图片上传成功');
                                //showImg.src = res.msg;
                                self.$set("good.goods_logo", res.msg);
                                console.log(res);
                                $("#logos").show();
                                //$(".icon-cancel-circle").show();
                            }
                        });
                    });
                },
                saveGood(){
                    var vue = this;
                    var obj = $("form").serializeArray();
                    vue.$http.post('addGood', obj).then(function (res) {
                        if (res.data.status == 1) {
                            layer.msg(res.data.msg);
                            vue.$router.go("/app_users");
                        }else{
                            layer.msg(res.data.msg);
                        }
                    }, function (res) {
                        var data = res.data;
                        this.$set("errors",data.errors);
                    });
                },
                goback(){
                    this.$router.go("/app_users");
                },
                open(e, type) {
                    // 设置类型123
                    this.calendar.picker = type;
                    this.calendar.type = this.calendar.items[type].type;
                    this.calendar.range = this.calendar.items[type].range;
                    this.calendar.begin = this.calendar.items[type].begin;
                    this.calendar.end = this.calendar.items[type].end;
                    this.calendar.value = this.calendar.items[type].value;
                    // 可不用写
                    this.calendar.sep = this.calendar.items[type].sep;
                    this.calendar.weeks = this.calendar.items[type].weeks;
                    this.calendar.months = this.calendar.items[type].months;

                    this.calendar.show = true;
                    this.calendar.x = e.target.offsetLeft;
                    this.calendar.y = e.target.offsetTop + e.target.offsetHeight + 8;
                }
            },
            watch: {
                'calendar.value':function (value) {
                    this.calendar.items[this.calendar.picker].value = value
                }
            }

        }