//修改密码
template
    .modal.fade#password
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title 修改密码
                .modal-body
                    form.form-horizontal(role='form')
                        .form-group
                            label.col-sm-2.control-label(for='') 原密码：
                            .col-sm-10
                                input.form-control(type='password' v-model="password.user_password")
                        .form-group
                            label.col-sm-2.control-label(for='') 新密码：
                            .col-sm-10
                                input.form-control(type='password' v-model="password.user_newpassword")
                        .form-group
                            label.col-sm-2.control-label(for='') 确认新密码：
                            .col-sm-10
                                input.form-control(type='password' v-model="password.user_newpassword_confirmation")

                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') 取消
                    button.btn.btn-primary(type='button',v-on:click="getPassword(password)") 确认修改
block js
    script(type="text/javascript").
        import {errorMsg} from '../../common.js';
        export default{
            created(){

            },
            data(){
                return {
                    password:{}
                }
            },
            methods:{
                getPassword(password){
                    this.$http.post('user/resetpwd/1',password).then(function(res){
                            layer.msg(res.data.msg);
                            this.$dispatch("refreshList");
                            $("#password").modal("hide");
                    },function(res){
                        var data = res.data;
                        errorMsg(data.errors);
                    })
                }
            }
        }
