template
    .modal.fade#telephone
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title 添加客服
                .modal-body
                    form.form-horizontal(role='form')
                        .form-group
                            label.col-sm-2.control-label 诊所：
                            .col-sm-4
                                select.form-control(v-model="user.clinique_id")
                                    option(v-for='c in cliniques' v-bind:value='c.id') {{c.name}}
                        .form-group
                            label.col-sm-2.control-label 姓名：
                            .col-sm-4
                                input.form-control(type="text" v-model="user.kname")
                        .form-group
                            label.col-sm-2.control-label 手机号：
                            .col-sm-4
                                input.form-control(type="text" v-model="user.telephone")


                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') 取消
                    button.btn.btn-primary(type='button', v-on:click="addUser(user)") 添加
block js
    script(type="text/javascript").
        import {errorMsg} from '../../common.js';
        export default {
            created() {
                this.getClinique();
            },
            data(){
                return {
                    user: {},
                    cliniques: {}
                };
            },
            methods: {
                addUser(user){
                    if(!user.clinique_id){
                        layer.msg('请选择诊所');
                        return false;
                    }
                    if (!user.kname) {
                        layer.msg('请输入客服姓名');
                        return false;
                    }
                    if (!user.telephone) {
                        layer.msg('请输入客服手机号');
                        return false;
                    }
                    this.$http.post('tel/addTelephone', user).then(function (res) {
                        if (res.data.status) {
                            $("#telephone").modal("hide");
                            layer.msg(res.data.msg);
                            this.$dispatch('telphone');
                        } else {
                            layer.msg(res.data.msg);
                        }
                    },function(res){
                        var data = res.data;
                        errorMsg(data.errors);
                    });
                },
                getClinique() {
                    this.$http.get('clinique/index').then(function (res) {
                        if (res.data.status) {
                            this.cliniques = res.data.data;
                        }
                    })
                }

            }
        }
