//覆盖
template
    .modal.fade#affiche
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title 修改公告
                .modal-body
                    form.form-horizontal(role='form')
                        .form-group
                            label.col-sm-3.control-label(for='') 公告详情：
                            .col-sm-8
                                textarea.form-control(v-model="item.content")
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') 取消
                    button.btn.btn-primary(type='button', v-on:click="save()") 保存

script(type='text/javascript').
    export default {
        props:['item'],
        data(){
            return {
                data:{}
            };
        },
        methods:{
            save(){
                this.$http.post('save_affiche',this.item).then(function (res) {
                    if(res.data.status)
                        $('#affiche').modal('hide');
                })
            },
        },
        watch:{
            'item':function(value){

            }
        }
    }