.p_home
    .banner
        height 3rem
        position relative
        z-index 8
        .swiper-pagination
            text-align right
            padding 0 .1rem
        .swiper-pagination-bullet
            border 1px solid #fff
            background transparent
            border-radius 50%
            opacity .7
            width 0.14rem
            height 0.14rem
        .swiper-pagination-bullet-active
            opacity 1
            background #fff
        .swiper-slide
            //height 3rem
            height auto
            color #fff
            text-align center
            text-shadow 0 0 .1rem $hui
            font-size .5rem
            position relative
            z-index 5
            overflow hidden
            img()
        .swiper-slide-order
            margin-top 0.7rem
            height auto
            color #fff
            text-align center
            text-shadow 0 0 .1rem $hui
            font-size .5rem
            position relative
            z-index 5
            overflow hidden
            img()
        h4
            position absolute
            left .2rem
            bottom .4rem
            margin 0
            font-size .3rem
            width 100%
            span
              display inline-block
            span,.gm
                text-align left
                width 100%
                overflow hidden
                text-overflow ellipsis
                white-space nowrap
    #wrap
        padding-bottom $foot_h
.p_doctor
  .search_box
      position fixed
      top 0.7rem
      width 100%
      border-bottom 1px solid #eaeaea
  .top_nav
      top 1.8rem
.search_box
    padding .1rem
    position relative
    background #fff
    i
        position absolute
        left .48rem
        font-size .3rem
        //padding .12rem
        color #999
        top 50%
        transform translateY(-50%)
    input
        height .6rem
        line-height .6rem
        width 100%
        text-align left
        border-radius 5px
        background #f5f5f5
        color #999
        padding-left 0.76rem
        font-size 0.25rem


.swiper-container,.swiper-container-banner,.swiper-container-exam
  width 100%
  height 100%
  overflow hidden
.swiper-container-order
  width 100%
  height 100%
.swiper-slide
  width 100%
  height auto
.home_nav
    clear()
    background #fff
    margin .1rem 0
    text-align center
    //font-size .35rem
    p
      font-size 0.25rem
      color #43A87F
      // font-weight bold
    .box
        width 33.33%
        height 2.1rem
        padding 0.18rem 0
        float left
        border-right .5px solid $bor
        &:nth-child(3n)
            border-right 0
        &:nth-child(1)
        &:nth-child(2)
        &:nth-child(3)
            border-bottom .5px solid $bor
        .ico
            img()
            width 1rem
            height 1rem
            margin .2rem auto .1rem auto
            background-repeat no-repeat
            background-position 50%
            background-size 100% 100%

.p_sign #wrap
    padding-top 0
    > div
        position fixed
        width 100%
        height 100%
        top 0
        //padding-bottom 3rem
        overflow-y auto

.sign_in
    //background $he url('/static/img/sign_bg.jpg') no-repeat center
    background-size cover
    background #f3f3f3
    padding 10% .5rem
    color #666
    .logo
        width 2.74rem
        height 0.76rem
        margin 20% auto 0
        img()
        background-image url('/static/img/sign.png')
    .word
      width 4.22rem
      height 0.36rem
      margin 0.42rem auto 2.2rem
      img()
      background-image url('/static/img/word.png')
    ul
        ul()
        margin-bottom 0.7rem
        li
            position relative
            padding .13rem .62rem
            //border-bottom .5px solid $tmb
            background #e7ebe7
            border-radius 4px
            &:first-child
              margin-bottom 0.26rem
            i
                position absolute
                font-size .4rem
                color #42b689
                left 0.12rem
                top .2rem
            input
                height .5rem
                border 0
                background transparent
                color #666
                font-size .24rem
            .btn
                position absolute
                right 0.24rem
                background none
                color #4db58a

.sign_up
    padding $head_h 0
    ul
        margin-bottom 0
        li
          .btn
            background none
            color #4db58a
    .span
      color #8ac991
      margin-top 0.34rem
      padding-left 0.26rem
      margin-bottom 2.4rem
      span
        display inline-block
      .inp
        display inline-block
        .icon-check
            display inline-block
            border-color #8ac991
            margin-right 0.18rem
            background none
            color transparent
            &.active
              color #8ac991
              background none
.p_order #wrap
    //padding-top 1px
    padding-bottom $foot_h

.sx_tip
    color $he
    li
        padding .1rem 0
.p_doctor
    #pullrefresh
        padding-top 1.3rem
#pullrefresh
  padding-top 0.7rem
  padding-bottom 0.85rem
.p_chat
  #pullrefresh
    padding-top 0.5rem
    padding-bottom 1.65rem
  .mui-pull-caption
    text-align center
    width 100%
  .mui-pull-top-pocket
    position absolute
    top 1rem
    left 0
    width 100%
.seach_header
  background #fff
  .right[onclick]
    color #666
  .left
    position relative
    text-align left
    i
      position absolute
      color #999999
      top 50%
      transform translateY(-50%)
      -webkit-transform translateY(-50%)
      &.icon-search
        left 0.3rem
      &.icon-close-c
        right 1.3rem
    input
      width 5.2rem
      height 0.6rem
      border 1px solid #e8e8e8
      border-radius 0.04rem
      outline none
      padding-left 0.54rem
      display block
      margin-top 0.04rem
.search_his
  li
    line-height 0.7rem
  .clear
    text-align center
    color #999
  .icon-time
    margin-right 0.12rem
    font-size 0.3rem
    color #c6c6c6
.zjsc
  color #999
  margin-top 0.2rem
  padding-left 0.28rem
.pay_fs
    padding-top 0

.tit_yf
    width 100%
    height 0.5rem
    position fixed
    left 0
    bottom 0.88rem
    background #d0bfa8
    line-height 0.5rem
    color #fff
    padding-left 0.3rem
    i
        margin-right 0.12rem
        font-size 0.3rem
.p_tickling
  .fg
    margin 0
    &:before,&:after
      width 0
      height 0
    li
      &:before
        width 0
        height 0
      label
        display inline-block
        font-size 0.2rem
        color #9e9e9d
        padding 0 0.14rem
        border 1px solid #9e9e9d
        border-radius 0.25rem
        line-height 0.34rem
        margin-left 0.16rem
        &.active
          color #7acb88
          border 1px solid #7acb88
  .start
    display inline-block
    width 0.32rem
    height 0.3rem
    background-image url('/static/img/start-h.png')
    background-size 100% auto
    -webkit-background-size 100% auto
    background-repeat no-repeat
    margin-left 0.08rem
    &.active
      background-image url('/static/img/start.png')
  i.icon-nav1
    margin-left 0.08rem
    font-size 0.3rem
    color #c6c6c6
    &.active
      color #7acb88

.miaosha
  position absolute
  width 6.1rem
  height 0.95rem
  left 50%
  transform translateX(-50%)
  bottom 0.15rem
  .left
    width 3.65rem
    height 100%
    background rgba(183,155,113,0.8)
    float left
    color #fff
    padding-left 0.14rem
    padding-top 0.16rem
    .price
      font-size 0.35rem
      position relative
      display inline-block
      margin-left 0.2rem
      &:before
        content "￥"
        font-size 0.24rem
        position absolute
        left -0.26rem
        top 0.02rem
      &:after
        content ".00"
        font-size 0.22rem
        position absolute
        right -0.34rem
        bottom 0
    .ms
        text-decoration line-through
        margin-left 0.1rem
  .right
    width 2.45rem
    height 100%
    float right
    background rgba(255,255,255,0.5)
    text-align center
    padding-top 0.1rem
    color #af8d60
    background rgba(255,255,255,.7)
    .time
      margin-top 0.09rem
      span
        color #fff
        display inline-block
        width 0.34rem
        height 0.34rem
        background #af8d60
        border-radius 0.04rem
        text-align center
        line-height 0.34rem
        margin 0 0.06rem
.zfwc
  color #aaa
  font-size 0.22rem
.ys_nr
    background #eee
    padding 0.2rem 0.1rem !important
    margin-top 0.1rem
    .left
      float left
      .dBox
        display inline-block
        span
          display block
    .right
      float right
      line-height 0.75rem
    img
        width 0.8rem
        height 0.8rem
        border-radius 50%
    span
        margin-left 0.1rem
        &.name
            font-size 0.24rem

    .price
        color #333
        margin-left 0
.span_c
   color #4db58a
   margin-right 0.1rem
.name_tit
    position relative
   .icon-close-c
        position absolute
        right 0
        top 0
        color #aaa
        font-size 0.3rem

.search_tit
  width 100%
  height 0.3rem
  background #cab59a
  padding-left 0.3rem
  line-height 0.3rem
  font-size 0.18rem
  color #fff
.search_header
  .center
    width 5.8rem
    position relative
    input
      width 5.43rem
      height 0.54rem
      border 1px solid #e8e8e8
      outline none
      margin-left 0.32rem
      padding-left 0.2rem
    .icon-search
      position absolute
      right 0.2rem
      top 50%
      transform translateY(-50%)

.tjys
  font-size 0.2rem
  color #9e9e9d
  padding-left 0.3rem
  margin-top 0.22rem
.p_myorder_details
  padding-bottom 0.7rem
  .user
    h5
      padding 0 0 0.3rem 0.2rem
      font-size 0.24rem
    .div
      border-bottom 1px solid #ddd
      border-top 1px solid #ddd
      li
        margin-bottom 0.18rem
        font-size 0.18rem
        .left
          float left
        .right
          float right
    .dz
      position relative
      padding-left 0.42rem
      padding-top 0.22rem
      padding-bottom 0.22rem
      .icon-location
        left 0
      p
        margin-top 0.1rem
.order_de
  padding-bottom 1rem
  .search_his
    &:before,&:after
      width 0

.order_doctor
  padding 0.2rem 0.3rem
  background #fff
  img
    width 1.32rem
    height 1.32rem
    border-radius 50%
  p
    display inline-block
    font-size 0.24rem
    margin-left 0.25rem
    span
      font-size 0.16rem
      margin-left 0.14rem
.jz_hos
  span
    display block
    line-height 0.32rem
    &:first-child
      text-align left
    &:last-child
      text-align left
      font-size 0.18rem
      color #9f9f9f

.x_price
  color #af8d60
  font-size 0.32rem
.li_jz
  width 100%
  height 1.3rem
  line-height 0.6rem !important
  display table

  .s
    display table-cell
    width 1.8rem
.jz_time
  display table-cell
  //position absolute
  //top 50%
  //trans(0,-50%)
  //right .5rem
  color #333
  text-align left
  max-width 5rem
  height 100%
  span
    display inline-block
    width 1.18rem
    height 0.48rem
    border 1px solid #e7e7e7
    text-align center
    line-height 0.48rem
    margin-left 0.16rem
    &.active
      color #a7ddc8
      border-color #a7ddc8

.swjt
  font-size 0.14rem
  color #ea9f47
  display inline-block
  margin-left 0.3rem
  vertical-align top
.jtcy
  .content
    height 3rem !important
    padding-top 0.5rem
    .txt
      margin-top 0 !important
      font-size 0.2rem
      margin-bottom 0.22rem
      span
        color #e27b01
        display inline-block
        vertical-align top
        margin 0 0.1rem
//传方抓药
.cfpy
  header
    .right
      color #e27b01
      .tj
        display inline-block
        width 0.24rem
        height 0.27rem
        background url('/static/img/tj.png')
        background-size 100% auto
        -webkit-background-size 100% auto
        margin-right 0.3rem
  .pop
    .main
      text-align center
      padding 1rem 0 0.88rem
    .foot
      padding 0.28rem 0
  .sc
    color #af8d60
    width 1.18rem
    height 1.18rem
    border 1px dashed #af8d60
    background #f2f2f1
    border-radius 0.08rem
    text-align center
    margin 0.3rem
    padding-top 0.3rem
    i.icon-camera
      font-size 0.4rem
    span
      font-size 0.16rem
      display block
      margin 0 auto
      margin-top 0.1rem
  .switch_btn
    width 0.8rem
    height 0.34rem
    background #c6c6c6
    border-radius 0.25rem
    color #fff !important
    line-height 0.34rem
    position relative
    transition all 0.2s 0.1s
    .circle
      width 0.26rem
      height 0.26rem
      background #fff
      position absolute
      left 0.04rem
      top 50%
      transform translatey(-50%)
      border-radius 50%
      transition all 0.3s 0.2s
    span
        margin-left 0.34rem
        font-size 0.12rem
        vertical-align top
        &:before
          content "OFF"
      &.active
        background #e27b01
        .circle
          left 0.5rem
        span
          margin-left 0.12rem
          &:before
            content "ON"


.cfsc
  .img
    width 1.5rem
    height 1.5rem
    margin-left 0.3rem
    margin-top 0.3rem
    margin-bottom 0.3rem
    border-radius 0.08rem
    img()
  .list-group
    margin 0
    span
      //color #333
    .fu
      position absolute
      right 0.2rem
      top 0.03rem

.pfxz
  .head
    span
      color #e27b01
      position absolute
      right 0.2rem
  .nr
    padding 0.3rem
    p
      font-size 0.2rem
      color #999
      line-height 0.3rem
    .imgbox
      margin-top 0.3rem
      img
        width 1.21rem
        height 1.21rem
        border-radius 0.08rem
      span
        margin 0 0.14rem
.jyfs
  .items
    span
      display inline-block
      font-size 0.2rem
      padding 0 0.28rem
      border 1px solid #e8e8e8
      color #333
      border-radius 0.25rem
      margin-right 0.11rem
      line-height 0.38rem
      &:last-child
        margin-right 0
      &.active
        color #e27b01
        border 1px solid #e27b01

.cfpy_history
  .list-group
    margin 0
    li
      line-height 0.47rem
      height 1.2rem
      padding-top 0.2rem
      .nr
        color #333333
      .time
        font-size 0.2rem
      span
        display block

.cfpy_noprice
  // padding-bottom 1rem
  .img
    width 1.2rem
    height 1.2rem
    border-radius 0.08rem
    margin 0.3rem
  .cf
    .list-group
      margin 0
  .mendian
    border-top 1px solid #e8e8e8
    border-bottom 1px solid #e8e8e8
    padding 0.24rem 0.44rem 0.14rem
    margin-top 0.12rem
    p
      color #757575
      font-size 0.2rem
      margin-bottom 0.2rem
    .md
      span
        display inline-block
        padding 0.16rem 0.24rem
        border 1px solid #e8e8e8
        margin-right 0.1rem
        margin-bottom 0.1rem
        &.active
          color #e27b01
          border-color #e27b01
  .tjdz
    color #e27b01

  .kdf
    margin-top 0.32rem !important
    padding-left 0 !important
    .right
      color #333 !important
      font-size 0.2rem !important
.btn-gre
  background #999999 !important
.list_mar
  margin 0
.cfpy_order
  .list_mar
    li
      span
        font-size 0.2rem
        color #333
  .panel
    margin-bottom 0
  .val
    span
      color #acacac
      margin-left 0.2rem
      text-decoration line-through
.cfpy_myorder
  .order_list
    .head
      display table
      width 100%
      span
        display table-cell
        width 50%
        text-align left
        color #b08f62
      .d
        color #e27b01
        text-align right
    .main
      .left
        float left
        img
          width 1.15rem
          height 1.15rem
      .right
        float right
        p
          line-height 0.36rem
          text-align right
          span
            color #acacac
            margin-left 0.1rem
            text-decoration line-through
            vertical-align top
.imgScare
  img
    position absolute
    left 50%
    top 50%
    transform translate(-50%,-50%)
.hea
    position relative
    .icon-arrow-right
        position absolute
        right 0
        top 0.04rem
.start_css
    .stars
        position absolute
        right 0
        top 0

.input_pop
  .content
    height 2.5rem !important
    text-align center
    input
      height 0.5rem
      margin-top 0.2rem
      width 3rem
.addrsBox
    height 1.2rem !important
    line-height 0.45rem !important
    .addrTit
        line-height 1.2rem !important



.swiper-container-list .visible {
  width: 100%;
  height: 50px;
  font-size: .24rem;
  text-align: center;
  line-height: 50px;
  display:block;
  color:#666;
}


.logistics
  background #fff
  padding 0.3rem
  margin-bottom 0.13rem
  .left
    &.del
      margin-left 0.26rem
      .stauts
        font-size 0.24rem
        dt
          color #333
        dd
          color #b29166
    img
      width 1.16rem
      height 1.16rem
    dl
      margin 0
      font-size 0.2rem
      dt,dd
        display inline-block
      dt
        color #999999
      dd
        margin-left 0.18rem
.logistics_del
  background #fff
  padding 0 0 0.24rem 1.2rem
  position relative
  &:before
    content ""
    position absolute
    width 1px
    height 90%
    left 0.6rem
    top 0.42rem
    background #e0e0e0
  dl
    color #999
    font-size 0.22rem
    border-bottom 1px solid #e8e8e8
    padding 0.24rem 0.3rem 0.24rem 0
    margin 0
    position relative
    &:before
      content ""
      position absolute
      width 0.18rem
      height 0.18rem
      left -0.68rem
      top 0.42rem
      background #e0e0e0
      border-radius 50%
    &.qianshou
      color #42b689
      &:before
        width 0.24rem
        height 0.24rem
        background #42b689
        border 2px solid #b3e2d0
        left -0.73rem
    dd
      margin-left 0
      font-size 0.2rem
      color #999999
      //margin-top 0.16rem
    dt
      line-height 0.4rem
    span
      color #42b689
.through
    text-decoration line-through
    color #999
    margin-left 0.2rem
.wx_tit
  .nr
    padding 0.2rem 0.3rem
    h3
      margin-bottom 0.1rem
    p
      margin-bottom 0.06rem
    .inp
      margin-bottom 0
      text-align center
.shuju
  position absolute
  //display none
  top -0.3rem
  width 100%
  text-align center
  left 0
  font-size 0.24rem
.cfpy_pb
  padding-bottom 0.85rem
.hqyzm
  .btn
    z-index 400
.yzmhq
  .main
    position relative
    padding 1.1rem 0.3rem 0.6rem !important
    i.icon-close
      position absolute
      right 0.03rem
      top 0.03rem
    .btn
      position absolute
      right 0.3rem
      top 0.4rem
    input
      height 0.5rem
      width 100%
.p_my_fmld
  .pop
    z-index 400
.val_w
  max-width 5rem !important
.min_h
  min-height 2rem
.sel_wid
  width 3rem !important
  height 100%
#chart
  width 100%
  height 5.2rem
.list-group
  li
    a
      .lab
        color red
        margin-right 0.1rem
        font-weight bold
  .hos
    padding-left 0.5rem
    line-height 0.36rem
    padding-top 0.2rem
    padding-bottom 0.2rem
    h3
      font-size 0.22rem
    p
      font-size 0.18rem
      color #666
    i
      position absolute
      left 0
      top 50%
      transform translateY(-50%)
.tab_nv
  display table
  width 100%
  background #fff
  height 0.75rem
  margin-bottom 0.2rem
  p
    display table-cell
    width 20%
    text-align center
    font-size 0.24rem
    &.active
      color #42b689
      border-bottom 2px solid #42b689
.tab_list,.tab_list2
  height 2.22rem
  width 100%
  background-image url('/static/img/data_bg.png')
  background-size 100% 100%
  margin-bottom 0.17rem
  position relative
  .bg
    width 100%
    height 2.23rem
    background-color rgba(100,168,140,0.8)
    display table
    p
      display table-cell
      color #fff
      text-align center
      width 33%
      &:not(:last-child)
        position relative
        &:before
          content ""
          position absolute
          right 0
          top 50%
          transform translateY(-50%)
          height 1.4rem
          border-right 1px solid rgba(255,255,255,0.4)
      span
        display block
        &.num
          font-size 0.4rem
          margin-top 0.26rem
          position relative
          i
            position absolute
            right 0.4rem
            top 0
            width 0.26rem
            height 0.26rem
            background-image url('/static/img/warn.png')
            background-size 100% 100%
        &.can
          display inline-block
          width 0.46rem
          height 0.47rem
          background-image url('/static/img/can.png')
          background-size 100% 100%
          margin-bottom 0.1rem
.tab_list2
  height 3.09rem
  background-image url('/static/img/data_bg2.png')
  .time
    background-color rgba(100,168,140,0.8)
    width 100%
    height 0.86rem
    padding 0.12rem 0.24rem 0
    span
      display block
      color #fff
      width 100%
      height 0.6rem
      background rgba(116,187,138,0.8)
      border-radius 0.08rem
      line-height 0.6rem
      padding-left 0.24rem
      position relative
      &:before
        content ""
        width 0.05rem
        height 0.22rem
        background #fff
        position absolute
        left 0
        top 50%
        transform translateY(-50%)
.lr_btn
  background #fff
  text-align right
  padding 0.26rem
  span
    display inline-block
    padding 0.1rem 0.24rem
    color #45b78b
    border 1px solid #45b78b
    border-radius 0.08rem

.tabs
  display table
  margin 0 auto
  width 94%
  background #fff
  height 0.6rem
  border 1px solid #e6e6e6
  border-radius 0.08rem
  margin-top 0.52rem
  p
    display table-cell
    width 25%
    text-align center
    &.active
      background #42b689
      color #fff
    &:not(:last-child)
      border-right 1px solid #e6e6e6
    &:first-child
      border-bottom-left-radius 0.08rem
      border-top-left-radius 0.08rem
    &:last-child
      border-bottom-right-radius 0.08rem
      border-top-right-radius 0.08rem

.data_lr
    .val
      text-align left
      span
        width 0.84rem
        color #999999
      input
        width calc(100% - 0.9rem) !important
.list_tit
    display table
    width 100%
    height 0.58rem
    background #fff
    border-bottom 0.04rem solid #f5f5f5
    p
      width 25%
      display table-cell
      color #999
      text-align center
      &:not(:last-child)
        position relative
        &:before
          content ""
          position absolute
          right 0
          top 50%
          transform translateY(-50%)
          height 0.21rem
          border-right 1px solid #999
.sjBox2
  .list_tit
    p
      width 33.3%
  .table
      .tr
          .td
              width 33.3%
.sjBox3
  .list_tit
    p
      width 50%
  .table
    .tr
      .td
        width 50%
.timebox
    display table
    width 66%
    height 0.6rem
    border 1px solid #4eba90
    border-radius 0.08rem
    background #fff
    margin 0.13rem auto
    margin-left 4%
    position relative
    .icon-arrow-right-b
      position absolute
      color #4eba90
      width 0.36rem
      height 0.36rem
      background #fff
      border 1px solid #4eba90
      border-radius 50%
      left 50%
      top 50%
      transform translate(-50%,-50%)
      text-align center
      line-height 0.36rem
    p
      display table-cell
      width 50%
      text-align center
      color #4eba90
      font-size 0.24rem
      &:first-child
        border-right 1px solid #4eba90
.table
  width 100%
  background #fff
  .tr
    width 100%
    height 0.76rem
    display table
    &:not(:last-child)
      position relative
      &:before
        content ""
        position absolute
        bottom 0
        left 50%
        transform translateX(-50%)
        width 5.9rem
        border-bottom 1px solid #eaeaea
    .td
      width 25%
      text-align center
      display table-cell
      &.active
        color #c49172
.data_s
  background #fff
  padding 0.2rem 0.26rem 0
  li
    padding-top 0.44rem
    padding-bottom 0.62rem
    &:first-child
      border-bottom 1px solid #eaeaea
      margin-bottom 0.2rem
    .numsBox
      display inline-block
      width 4.87rem
      height 0.38rem
      background url('/static/img/jianbian.png')
      background-size 100% 100%
      margin-left 0.3rem
      position relative
      .num_t
        position absolute
        width 100%
        display table
        left 0
        bottom -0.5rem
        color #55b890
        span
          display table-cell
          width 33.3%
          text-align center
      .nums
        position absolute
        top -0.44rem
        color #fff
        min-width 0.78rem
        height 0.26rem
        background #85c78c
        text-align center
        border-radius 0.25rem
        line-height 0.26rem
        font-size 0.18rem
        &:after
          content ""
          position absolute
          left 50%
          transform translateX(-50%)
          bottom -0.2rem
          border 0.1rem solid transparent
          border-top-color #85c78c
.daodu
  background #fff
  h3
    marin-bottom 0.2rem
  p
    border-top 1px solid #eaeaea
    padding-top 0.3rem
    text-indent 1em


//.circle
//  display inline-block
//  width 1.52rem
//  height 1.52rem
//  background-image url('/static/img/circle.png')
//  background-size 100% 100%
//  text-align center
//  line-height 1.52rem
//  color #fff
//  font-size 0.4rem
//  position relative
//  .circleProgress
//    position absolute
//    left 0
//    top 0
//    width 1.52rem
//    height 1.52rem
//    border 0.18rem solid #fff
//    border-radius 50%
//    text-align center
//    line-height 1.2rem
//    color #fff
//    font-size 0.3rem

.circlepross .circle {
  width: 1.52rem;
  height: 1.52rem;
  display: inline-block !important;
  position: relative;
  border:1px solid #ddd;
  background-image url('/static/img/circle.png')
  background-size 100% 100%;
  display inline-block !important
}

.circlepross .pie_left, .circlepross .pie_right {
  width: 1.52rem
  height: 1.52rem
  position: absolute;
  top: 0;left: 0;
}
.circlepross .left, .circlepross .right {
  display: block;
  width:1.52rem
  height:1.52rem
  border 0.18rem solid #fff
  border-radius: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
}
.circleProgress_wrapper .rightcircle{
  border-top:0.18rem solid transparent
  border-right:0.18rem solid transparent
  right:0;
  -webkit-animation: circleProgressLoad_right 5s linear infinite;
}
.circleProgress_wrapper .leftcircle{
  border-bottom:0.18rem solid transparent
  border-left:0.18rem solid transparent
  left: 0;
  transform: rotate(30deg);
}
.circlepross .pie_right, .circlepross .right {
  clip:rect(0,auto,auto,0.76rem);
}
.circlepross .pie_left, .circlepross .left {
  clip:rect(0,0.76rem,auto,0);
}
.circlepross .mask {
  width: 1.02rem;
  height: 1.02rem;
  border-radius: 50%;
  left: 0.25rem;
  top: 0.25rem;
  background: #FFF;
  position: absolute;
  text-align: center;
  line-height: 1.02rem;
  font-size: 0.3rem
}
.yaofang{
    padding:0.1rem
    padding-left :0
    display:inline-block
  }
.comfirm_order{
  position absolute
  width 2rem
  height 100%
  background #42b689
  color #fff
  top 0
  right 0
}
.BMI{
  color #000
}
.date{
  position relative
}
.select{
  width 20%
  height 0.6rem
  background #4eba90
  position absolute
  right 4%
  top 0
  border 1px solid #4eba90
  border-radius 0.08rem
  line-height 0.6rem
  text-align center
  color #fff
  font-size 0.24rem
}

//健康数据样式

.low
  left 9%

.normal
  left 42%

.high
  left 75%

.layer
  position relative

.tip
  position absolute
  top 1rem
  right 0.1rem
  color red
  font-weight bold
  font-size 0.25rem
  padding 0.2rem 0.3rem
  background #fff
  margin-top 0.16rem
  margin-left 0.14rem
  margin-right 0.14rem
  border-radius 0.08rem
  box-shadow 1px 0px 0.2rem #aaa

.istisane,.notisane
  width 100%
  background #fff
  position relative
  .tipsbg
    width 1.4rem
    height 1.4rem
    background url('/static/img/istisane.png') no-repeat
    background-size 100% 100%
    position absolute
    top 0.5rem
    left 50%
    transform translateX(-50%)
  .tipsword
    padding 2.3rem 0 0.5rem
    p
      text-align center
      font-size 0.25rem
      margin 0 .5rem
      &:nth-child(2),&:last-child
        padding-top 0.1rem
      &.left
        text-align left
        padding-left 0.4rem


.notisane
  .tipsbg
    background url('/static/img/notisane.png') no-repeat
    background-size 100% 100%

.zhengli
  position relative
  padding-top .3rem
  &:before
    content: '';
    position: absolute;
    left: 0;
    background: #ddd;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleY(-0.5);
    transform-origin: 0 0;
  .zhenglipic
    display: inline-block;
    width: 1.74rem;
    height: 1.74rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    border-radius: 0.08rem;
    &:nth-child(3)
      margin-right:0;
    .img
      display: inline-block;
      width: 1.74rem;
      height: 1.74rem;
      border-radius: 0.08rem;

.jianyao
  height 100%
  overflow-y scroll
  .pic
    height auto
    position relative
    .data1,.data2,.data3
      width 0.35rem
      height 0.3rem
      position absolute
      left 2.55rem
      bottom 9.2rem
      text-align center
      font-size 0.23rem
      color red
    .data2
      left 3.2rem
      bottom 9.2rem
    .data3
      left 3.95rem
      bottom 9.2rem

.jianyaotips
  color #42b689
  font-weight bold

  //门诊联系方式

.hosplist
    li
      margin: 0.2rem 0;
      background: #fff;
      position: relative;
      overflow: hidden;
      padding: 0.25rem 0.3rem;
      font-size: 0.25rem;
      span
        display inline-block
        padding 0 0.3rem 0.2rem 0
        &:last-child
          padding-bottom 0

.nofixed
  position relative !important

.agreexieyi,.notagree
  position fixed
  width 49.5%
  height 0.5rem
  bottom 0
  background #42b689
  text-align center
  line-height 0.5rem
  color #fff
.agreexieyi
  right 0
.notagree
  left 0


.addr
    padding 0.24rem 0.3rem 0.24rem 0.7rem
    position relative
    i
        color #af8d60
        position absolute
        left 0.3rem
        top 50%
        transform translateY(-50%)
        font-size 0.32rem
    h3
        font-size 0.24rem
        margin-bottom 0.06rem
        a
            padding 0.04rem 0.25rem
            background #42b689
            color #fff
            font-size 0.18rem
            display inline-block
            margin-left 0.2rem
            border-radius 0.25rem
    p
        font-size 0.18rem
        color #999

.mapBox
    // width 6.4rem
    // height 4rem
    width 100%
    height auto
    iframe
        width 100%
        height 100%
        border none


  //物流页面样式

  .p_express
    #wrap
      padding 0.7rem 0
      .order
        padding 0.3rem
        overflow hidden
        background #fff
        .orderbg
          width 1.6rem
          height 1.6rem
          background url('/static/img/express.png')
          background-size 100% 100%
          float left
          margin-right 0.1rem
        .orderinfo
          height 1.6rem
          float left
          padding 0.2rem 0
          p
            font-size 0.24rem
            margin-bottom 0.08rem
            color #999
      .express
        background #fff
        .line
          width 1px
          height 0
          position absolute
          top 0
          left 0.58rem
          background #e0e0e0
        li
          padding 0.3rem 0
          margin-left 1rem
          border-bottom 1px solid #ddd
          position relative
          &:last-child
            border none
          &.active
            i
              width 0.28rem
              height 0.28rem
              background #42B689
              border-radius 0.14rem
              position absolute
              top 50%
              left -0.55rem
              border 0.03rem solid #B3E2D0
              transform translateY(-50%)
          i
            width 0.18rem
            height 0.18rem
            background #e0e0e0
            border-radius 0.09rem
            position absolute
            top 50%
            left -0.5rem
            transform translateY(-50%)
          p
            margin-right 0.3rem
            &:nth-child(2)
              font-size 0.24rem
              margin-bottom 0.1rem
            &:last-child
              font-size 0.22rem
      .noexpress
        margin-top 1rem
        font-size 0.25rem
        text-align center
        color #999

.orderTips
  padding 0 0.2rem 0.2rem
  color #42b689

.loadMore
  width 100%
  height 0.6rem
  position absolute
  bottom 0.6rem
  text-align center
  line-height 0.6rem
  font-size 0.24rem
  color #666

.clinicTips
  padding 0.2rem
  color #42b689
  //text-align center
  font-size 0.25rem
  
  // end











