//
//.img_update
//   min-height 80px
//  img
//    float left
//    width 200px
//    max-height 80px
//
//  .site-demo-upbar
//    float left
//    width 200px
//    height 80px
//
//    .layui-upload-button
//      width 100%
//      height 100%
//.new_item
//  form
//    padding-top 5px
  //.wangEditor-container
  //  min-height 250px
  //  min-width 100%

.site-demo-upbar
    float left
    width 500px
    height 80px